#!/bin/bash

PATH_add node_modules/.bin
dotenv_if_exists

if [[ ! -f "worker-configuration.d.ts" ]]; then
  bun run generate-types
fi

if [[ ! -f ".dev.vars" ]]; then
  chezmoi execute-template < ".dev.vars.tmpl" > ".dev.vars"
fi
