#!/bin/bash

PATH_add node_modules/.bin
dotenv_if_exists

if [[ ! -f "worker-configuration.d.ts" ]]; then
  bun run generate-types
fi

if [[ ! -f ".dev.vars" ]]; then
  # ref: <https://github.com/gr2m/universal-github-app-jwt?tab=readme-ov-file#using-openssl>
  GITHUB_APP_PRIVATE_KEY="$(rbw get --field "notes" "GitHub App" | openssl pkcs8 -topk8 -inform PEM -outform PEM --nocrypt)"
  export GITHUB_APP_PRIVATE_KEY
  DEV_VARS="$(chezmoi execute-template < ".dev.vars.tmpl")"
  echo "$DEV_VARS" > ".dev.vars"
fi
